*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body, html {
    height: 100%;
    right: 100%;
  }
a{    
    color:white;
    text-decoration: none;
    }

.wlcm{
    padding-top: 5%;
    padding-bottom: 0;
    margin-left: 39%;
    text-align: center;
    height: 5px;
    transform: translate(2%,100%);
    width: 25%;
}

.page1{
    background-image: url(../imgs/page1.jpg);
    height: 100%;
    right: 100%;
    background-size:100% 100%;
    background-attachment: fixed;
}

.logo{
    height: 50px;
    width: 50px;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .menu li.right, 
    .menu li {float: none;}
}
/*----------------------------------menu--------------------------------------*/

.menu-area ul{
    list-style: none;
}
.menu{
    width: 100%;
    background: rgba(75, 71, 71, 0.644);
}
.menu-area{
    display: inline-block;
    text-align: center;
    position: fixed;
    width: 100%;
}
.menu-area li.abt{
    float: right;
    width: 100px;
}
.menu-area li:hover{
    background-color: #111;
}
.menu-area > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fff;
}
.menu-area > ul > li{
    position: relative;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 1.5px;
    width: 200px;
    height: 55px;
    line-height: 52px;
    float: left;
}
.menu-area > ul > li.log{
    width: 100px;
}
.menu-area > ul > li.log:hover{
    background: none;
}
.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
}
.dropdown li{
    background: rgba(75, 71, 71, 0.644);
    display: none;
}
.dropdown li:hover{
    background: #111;
}
.menu-area li:hover > .dropdown li{
    display: block;
}

/*----------------------------------------------------------------------------*/

/*----------------------------dropdown animation------------------------------*/

.menu-area li:hover > .dropdown{
    perspective: 1000px;
}
.menu-area li:hover > .dropdown li{
    transform-origin: top center;
    opacity: 0;
}
.menu-area li:hover > .dropdown li:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;

}
.menu-area li:hover > .dropdown li:nth-child(2){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;

}
.menu-area li:hover > .dropdown li:nth-child(3){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;

}
.menu-area li:hover > .dropdown li:nth-child(4){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 300ms;

}
.menu-area li:hover > .dropdown li:nth-child(5){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 450ms;

}
.menu-area li:hover > .dropdown li:nth-child(6){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 600ms;

}
.menu-area li:hover > .dropdown li:nth-child(7){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 750ms;

}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50%{
        transform: rotateX(20deg);
    }
    100%{
        opacity: 1;
        transform: rotateX(0deg);
    }
}

/*----------------------------------------------------------------------------*/
.page1 img{
    width: 24%;
    height: 30%;
    padding-top: 13%;
    padding-left: 40%;
    
}
.page1 p{
    color: black;
    text-align: center; 
    font-family: verdana;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40%;
    padding-right: 35%;
}
/*------------------------GAME------------------------------*/
.game{
	background-image: url(../imgs/pageY.jpg);
	height: 100%;
    right: 100%;
    background-size:100% 100%;
}
.game h1{
    color: white;
    text-align: center; 
    font-family: verdana;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 120px;
}
.game img{
    border-radius: 18px;
    height: 200px;
    width: 200px;
}
.game div{
    display: inline-block;
    border-radius: 8px;
    margin-left: 7%;
    margin-top: 1.5%;
    margin-bottom: 40px;
    width: 15%;
    height: 15%;
}
.game a:hover img {
    border-radius: 18px;
    height: 250px;
    width: 250px;
    transition: ease-in 500ms;
}

/*-----------------------------------contact-------------------------------------*/
.contactx{
    background-image:url(../imgs/page.jpg);
    height: 100%;
    width: 100%;
	background-size:100% 100%;
    background-attachment: fixed;
}
.contactx hr{
    color: brown;
    margin-left: 30%;
    margin-right: 30%;
}
.contactx h1{
    color: white;
    text-align: center; 
    font-family: verdana;
    font-size: 40px;
    padding-top: 70px;
    
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
}
input[type=submit] {
    background-color: rgb(148, 1, 211);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: blueviolet;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
/*-------------------------footer----------------------------------*/

.footer-bottom{
    color: #686868;
    background: #343040;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}