*{
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    right: 100%;
  }
a{    
    color:white;
    text-decoration: none;
    }
.page1{
    background-image: url(../imgs/page1.jpg);
    height: 100%;
    right: 100%;
    background-size:100% 100%;
    background-attachment: fixed;
}
.menu {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(75, 71, 71, 0.644);
    position: fixed;
    width: 100%;
    height: 7%;
}
.menu li {float: left;}


.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.logo{
    height: 50px;
    width: 50px;
    padding-left: 8px;
    padding-right: 8px;
}

.menu li a:hover:not(.active) {background-color: #111;}

.menu li.right {
    float: right;
    padding-right: 20px;
}

@media screen and (max-width: 600px) {
    .menu li.right, 
    .menu li {float: none;}
}
.submemu1{
    display: none;
  }
.menu a:hover .submemu1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(75, 71, 71, 0.644);
    position: fixed;
    width: 100%;
    box-shadow: rgba(48, 46, 46, 0.849);
  }
.menu a:hover .submemu1 ul li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

.page1 img{
    width: 24%;
    height: 30%;
    padding-top: 13%;
    padding-left: 40%;
    
}
.page1 p{
    color: black;
    text-align: center; 
    font-family: verdana;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40%;
    padding-right: 35%;
}
/*------------------------GAME------------------------------*/
.game{
	background-image: url(../imgs/pageY.jpg);
	height: 100%;
    right: 100%;
    background-size:100% 100%;
}
.game h1{
    color: white;
    text-align: center; 
    font-family: verdana;
    font-size: 40px;
    padding-top: 60px;
    
}
.game img{
    border-radius: 18px;
    height: 300px;
    width: 300px;
}
.game div{
    display: inline-block;
    border-radius: 8px;
    margin-left: 7%;
    margin-top: 1.5%;
    margin-bottom: 40px;
    width: 15%;
    height: 15%;
}

/*-----------------------------------contact-------------------------------------*/
.contact{
    background-image:url(../imgs/page.jpg);
    height: 100%;
    width: 100%;
	background-size:100% 100%;
    background-attachment: fixed;
}
.contact hr{
    color: brown;
    margin-left: 30%;
    margin-right: 30%;
}
.contact h1{
    color: white;
    text-align: center; 
    font-family: verdana;
    font-size: 40px;
    padding-top: 70px;
    
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
}
input[type=submit] {
    background-color: darkviolet;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: blueviolet;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}