body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
section{
    height: 100vh;
    background-color: wheat;
}
.score{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.score h2{
    font-size: 35px;
}
.score p{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.intro{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.3s ease;
}
.intro h1{
    font-size: 50px;
}
.intro button,
.game button{
    width: 120px;
    height: 50px;
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    background: silver;
    border-radius: 5px;
    cursor: pointer;
}
.game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}
.results{
    text-align: center;
    font-size: 50px;
}
.hands,
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.playerhand{
    transform: rotateY(180deg);
}
div.fadeOut{
    opacity: 0;
    pointer-events: none;
}
div.fadeIn{
    opacity: 1;
    pointer-events: all;
}

@keyframes animatecomp{
    0% {
        transform: translateY(0px);
      }
      15% {
        transform: translateY(-50px);
      }
      25% {
        transform: translateY(0px);
      }
      35% {
        transform: translateY(-50px);
      }
      50% {
        transform: translateY(0px);
      }
      65% {
        transform: translateY(-50px);
      }
      75% {
        transform: translateY(0px);
      }
      85% {
        transform: translateY(-50px);
      }
      100% {
        transform: translateY(0px);
      }
}
@keyframes animateplayer{
    0% {
        transform: rotateY(180deg) translateY(0px);
      }
      15% {
        transform: rotateY(180deg) translateY(-50px);
      }
      25% {
        transform: rotateY(180deg) translateY(0px);
      }
      35% {
        transform: rotateY(180deg) translateY(-50px);
      }
      50% {
        transform: rotateY(180deg) translateY(0px);
      }
      65% {
        transform: rotateY(180deg) translateY(-50px);
      }
      75% {
        transform: rotateY(180deg) translateY(0px);
      }
      85% {
        transform: rotateY(180deg) translateY(-50px);
      }
      100% {
        transform: rotateY(180deg) translateY(0px);
      }
}