*{
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    right: 100%;
    background-image: linear-gradient(to top, #e9626b 0%, #6d64b4 100%);
  }
h1{
    padding-top: 70px;
    padding-bottom: 10px;
}
div{
    padding-bottom: 30px;
    font-size: 20pt;
}
table {
    border-color: rgb(10, 7, 7);
    background-color: blanchedalmond;
    margin-bottom: 20px;
}
.Square {
    
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50pt;
    font-weight: bold;
    font-family: Verdana;
    color: rgb(10, 7, 7);

}
a{    
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 23pt;
    background-color: rgb(69, 107, 223);
    border-radius: 18px;
    }