*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body, html {
  height: 100%;
  right: 100%;
  background-image: url(../../imgs/pageB.jpg);

  background-size:100% 100%;
  background-attachment: fixed;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #fff;
}

a{    
  color:white;
  text-decoration: none;
  }

.logo{
  height: 50px;
  width: 50px;
  padding-left: 8px;
  padding-right: 8px;
}

@media screen and (max-width: 600px) {
  .menu li.right, 
  .menu li {float: none;}
}
/*----------------------------------menu--------------------------------------*/

.menu-area ul{
  list-style: none;
}
.menu{
  width: 100%;
  background: rgba(75, 71, 71, 0.644);
}
.menu-area{
  display: inline-block;
  text-align: center;
  position: fixed;
  width: 100%;
}
.menu-area li.abt{
  float: right;
  width: 100px;
}
.menu-area li:hover{
  background-color: #111;
}
.menu-area > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  color: #fff;
}
.menu-area > ul > li{
  position: relative;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 1.5px;
  width: 200px;
  height: 55px;
  line-height: 52px;
  float: left;
}
.menu-area > ul > li.log{
  width: 100px;
}
.menu-area > ul > li.log:hover{
  background: none;
}
.dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
}
.dropdown li{
  background: rgba(75, 71, 71, 0.644);
  display: none;
}
.dropdown li:hover{
  background: #111;
}
.menu-area li:hover > .dropdown li{
  display: block;
}

/*----------------------------------------------------------------------------*/

/*----------------------------dropdown animation------------------------------*/

.menu-area li:hover > .dropdown{
  perspective: 1000px;
}
.menu-area li:hover > .dropdown li{
  transform-origin: top center;
  opacity: 0;
}
.menu-area li:hover > .dropdown li:nth-child(1){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: -150ms;

}
.menu-area li:hover > .dropdown li:nth-child(2){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 0ms;

}
.menu-area li:hover > .dropdown li:nth-child(3){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 150ms;

}
.menu-area li:hover > .dropdown li:nth-child(4){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 300ms;

}
.menu-area li:hover > .dropdown li:nth-child(5){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 450ms;

}
.menu-area li:hover > .dropdown li:nth-child(6){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 600ms;

}
.menu-area li:hover > .dropdown li:nth-child(7){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 750ms;

}
@keyframes animate{
  0%{
      opacity: 0;
      transform: rotateX(-90deg);
  }
  50%{
      transform: rotateX(20deg);
  }
  100%{
      opacity: 1;
      transform: rotateX(0deg);
  }
}

/* ---------------------------------------------------------------------------*/

.leftcolumn {
  float: left;
  width: 50%;
  padding-left: 80px;
}


.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
  padding-right: 70px;
}


.fakeimg {
  width: 90%;
}


.card {
  background-color: rgba(255, 255, 255, 0.829);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}
.card h1,h5,p {
  padding: 15px ;

}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card a i{
  color: #111;
  font-size: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;

}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}



/*-----------------------------------------------------------*/

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
  border-radius: 20px;
}

.active, .btn:hover {
  background-color: #666;
  color: white;
}
/*-----------------------------------------------------------*/
.nextpage a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.nextpage a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 20px;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  border-radius: 20px;
}

.next {
  background-color: #666;
  color: white;
  border-radius: 20px;
}

.round {
  border-radius: 50%;
}
/*-------------------------footer----------------------------------*/
.footer-bottom{
  color: #686868;
  background: #343040;
  height: 40px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}